# Finance Analysis Jupyter Notebook

In [42]:
import pandas as pd

# Load data
df = pd.read_csv("financial_data.csv")

In [43]:
df.head()

,Segment,Country,Product,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,1618.5,3,20,32370.0,32370.0,16185.0,16185.0,01-01-2014,1,January,2014
1,Government,Germany,Carretera,1321.0,3,20,26420.0,26420.0,13210.0,13210.0,01-01-2014,1,January,2014
2,Midmarket,France,Carretera,2178.0,3,15,32670.0,32670.0,21780.0,10890.0,06-01-2014,6,June,2014
3,Midmarket,Germany,Carretera,888.0,3,15,13320.0,13320.0,8880.0,4440.0,06-01-2014,6,June,2014
4,Midmarket,Mexico,Carretera,2470.0,3,15,37050.0,37050.0,24700.0,12350.0,06-01-2014,6,June,2014

In [44]:
df.columns = df.columns.str.strip()

### ðŸ“Œ Question 1: What is the total sales amount?

In [46]:
total_sales = df['Sales'].sum()
print("Total Sales:", round(total_sales / 1_000_000, 2), "M")

Total Sales: 118.73 M

### ðŸ“Œ Question 2: What is the total number of units sold?

In [49]:
total_units = df['Units Sold'].sum()
print("Total Units Sold:", round(total_units / 1_000_000, 2), "M")

Total Units Sold: 1.13 M

### ðŸ“Œ Question 3: What is the total gross sales?

In [51]:
total_gross_sales = df['Gross Sales'].sum()
print("Total Gross Sales:", round(total_gross_sales / 1_000_000, 2), "M")

Total Gross Sales: 127.93 M

### ðŸ“Œ Question 4: What is the total COGS?

In [53]:
total_cogs = df['COGS'].sum()
print("Total COGS:", round(total_cogs / 1_000_000, 2), "M")

Total COGS: 101.83 M

### ðŸ“Œ Question 5: What are the quarterly total sales trends?

In [55]:
df['Date'] = pd.to_datetime(df['Date'])
df['Quarter'] = df['Date'].dt.to_period("Q")
quarterly_sales = df.groupby('Quarter')['Sales'].sum().reset_index()
print("Quarterly Sales:")
print(quarterly_sales)

Quarterly Sales:
  Quarter        Sales
0  2013Q3   4484000.03
1  2013Q4  21931255.48
2  2014Q1  19492152.95
3  2014Q2  22693879.95
4  2014Q3  20366239.84
5  2014Q4  29758822.02

### ðŸ“Œ Question 6: Which product has the highest and lowest sales?

In [57]:
product_sales = df.groupby('Product')['Sales'].sum().sort_values(ascending=False)
most_liked_product = product_sales.idxmax()
least_liked_product = product_sales.idxmin()
print("Most Liked Product:", most_liked_product)
print("Least Liked Product:", least_liked_product)

Most Liked Product:  Paseo
Least Liked Product:  Carretera

### ðŸ“Œ Question 7: What is the gross sales distribution by country?

In [59]:
country_sales = df.groupby('Country')['Gross Sales'].sum().sort_values(ascending=False)
print("Gross Sales by Country:")
print(country_sales)

Gross Sales by Country:
Country
United States of America    27269358.0
Canada                      26932163.5
France                      26081674.5
Germany                     24921467.5
Mexico                      22726935.0
Name: Gross Sales, dtype: float64

### ðŸ“Œ Question 8: Which customer segment has the highest total sales?

In [61]:
segment_sales = df.groupby('Segment')['Sales'].sum().sort_values(ascending=False)
print("Sales by Segment:")
print(segment_sales)
print("Top Segment:", segment_sales.idxmax())

Sales by Segment:
Segment
Government          52504260.67
Small Business      42427918.50
Enterprise          19611694.38
Midmarket            2381883.08
Channel Partners     1800593.64
Name: Sales, dtype: float64
Top Segment: Government